@import 'main';

.content {
    .content__news {
        background: $primary-color;
    }
    .content__hashtag {
        background: #F7CA18;
    }
    .content__scoop{
        background: #FFA400;
    }

    .content__detail-title {
        font-size: 18px;
        .badge {
            font-size: 100%;
        }
    }
  

    .content__detail-subtitle {
        color: #989898;
        font-size: 11px;
        display: flex;
        align-items: center;
        line-height: 1.5;
    }
    .content__tag {
        list-style: none;
        padding: 0;
        margin: 0 8px;
        color: #707070;
        font-size: 12px;
        
        .content__tag-item {
            display: inline-block;

            +.content__tag-item::before {
                display: inline-block;
                padding-right: 2px;
                padding-left: 0px;
                color: #6c757d;
                content: ",";
            }
        }
    }
    .content__badge-item {
        margin-top: 2px;
        margin-bottom: 2px;
        height: 22px;
        padding-top: 5px;
    }
}

.cimg {
 
    background: #f3f4f8;
    .cimg__thumbnail {
        width: 80px;
        padding: 5px 2px;
    }
    
    .cimg__title {
        
        h6 {
            font-weight: bold;
            padding-top: 16px;
            margin-bottom: 0;
        }
        span {
            color: #6c757d;
        }
    }
    .cimg__badge {
        padding-top: 30px;
        width: 20%;

    }
    .cimg__detail {
        text-align: right;
        padding-top: 16px;
        width: 20%;
        .badge {
            width: 80%;
        }
    }
    .cimg__detail-2 {
        text-align: right;
        padding-top: 16px;
        width: 30%;
        .badge {
            width: 70%;
        }
    }
}


