$primary-font: 'Kanit', sans-serif;
$shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
$circle: 50%;

@mixin p-l($number) {
    padding-left: ($number);
}
@mixin p-r($number) {
    padding-right: ($number);
}
@mixin m-l($number) {
    margin-left: ($number);
}
@mixin m-r($number) {
    margin-right: ($number);
}

body {
    font-family: $primary-font;
    background: #f4f9fa;
}
.navbar {

    box-shadow: $shadow;

    .nav__logo {
        @include p-l(1.5rem);
    }
    .nav-item {
        @include p-l(1.5rem);
    }
    .nav__user img {
        height: 40px;
        border-radius: $circle;
    }
    .avatar {
        .avatar__image {
            background-image: url('../img/user-profile.jpg');
            background-size: cover;
            background-position: center center;
            height: 40px;
            width: 40px;
            @include m-l(10px);
            @include m-r(10px);
           
        }
    }
}
   